@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Anton");
body {
  margin: 0 auto;
  font-family: "Montserrat", monospace;
}

.codedbad {
  font-family: "Montserrat";
  text-align: center;
  color: #ffffff;
  background: #000000;
  width: 100px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  margin: 42px -43px;
  position: fixed;
  font-size: 12px;
  font-weight: bold;
  z-index: 999;
}

header .btn-cart {
  position: fixed;
  width: 48px;
  right: 75px;
  top: 20px;
}

header .btn-home {
  position: fixed;
  width: 48px;
  right: 75px;
  top: 80px;
}

.container-pv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}

.container-pv div {
  margin: 5px;
  height: 400px;
  width: 300px;
  color: #373737;
  line-height: 0%;
}

.container-pv img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.container-pv .row-left {
  margin: 100px 5px;
  text-align: right;
  height: 100%;
  vertical-align: middle;
  width: 250px;
}

.container-pv .row-left .small-tx {
  font-size: 10px;
  text-decoration: none;
  color: #373737;
}

.container-pv .row-right {
  margin: 100px 5px;
  text-align: left;
  height: 100%;
  vertical-align: middle;
  width: 250px;
}

.container-pv .row-right .small-tx {
  font-size: 10px;
}

.container-pv .row-right .btn-block {
  margin-left: 15px;
  border: 1px solid #bfbfbf;
  padding: 10px 20px;
}

.container-pv .row-right .btn {
  font-family: 'Anton', cursive;
  text-decoration: none;
  color: #969696;
  text-shadow: none;
}

.container-pv .row-right .btn:hover {
  text-shadow: none;
  color: #373737;
}

.container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

.container-menu div {
  text-align: right;
  margin: 7px;
  height: auto;
  width: 200px;
  color: #373737;
  text-align: center;
}

.container-menu .menu-right {
  text-align: right;
}

.container-menu .menu-left {
  text-align: left;
}

select {
  width: 200px;
}

.container-pl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 50px;
  padding-bottom: 25px;
}

.container-pl li {
  list-style-type: none;
  text-align: left;
}

.container-pl div {
  border: 1px solid #bfbfbf;
  margin: 5px;
  height: 300px;
  width: 250px;
  color: #373737;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.container-pl div img {
  max-height: 55%;
  max-width: 55%;
}

.container-pl .small-tx {
  font-size: 8px;
  text-decoration: none;
  color: #373737;
}

.container-pl .small-tx-dg {
  font-size: 12px;
  color: #090f0f;
  font-weight: bold;
}

.container-pl .medium-tx {
  font-size: 14px;
  color: #090f0f;
  font-weight: bold;
}

.container-pl .price-tag-pl {
  line-height: 40px;
  color: #090f0f;
}

.link {
  text-decoration: none;
}

.portrait:hover {
  border: 1px solid #969696;
}

.input {
  width: 95%;
  margin: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-submit {
  text-decoration: none;
  color: #373737;
  border: 1px solid #bfbfbf;
  padding: 0px;
  width: 120px;
  background: #ffffff;
}

.btn-delete {
  text-decoration: none;
  color: #373737;
  border: 1px solid #bfbfbf;
  padding: 0px;
  width: 120px;
  background: #ffffff;
}

.btn-resset {
  text-decoration: none;
  color: #373737;
  border: 1px solid #bfbfbf;
  padding: 1px 30px;
  background: #ffffff;
}

.small-tx {
  font-size: 10px;
}

.small-tx-rd {
  font-size: 10px;
  color: #ff2800;
}

.btn:hover {
  font-weight: bold;
}

.btn-submit:hover, .btn-delete:hover, .btn-resset:hover {
  border: 1px solid #969696;
}

.cp_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}

.cp_con div {
  margin: 5px;
  height: auto;
  width: 325px;
  color: #373737;
  line-height: 0%;
}

.cp_con div label {
  font-size: 12px;
}
/*# sourceMappingURL=app.css.map */